<?xml version="1.0" encoding="utf-8"?>
<root xmlns="urn:ChirpyConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:ChirpyConfig http://www.weirdlover.com/chirpy/chirp.xsd">

  <FileGroup Name="bbcode.js" Minify="true">
    <File Path="bbcode.js" />
  </FileGroup>
  <FileGroup Name="Editor.js" Minify="true">
    <File Path="Editor.js" />
  </FileGroup>
  <FileGroup Name="confirmHandler.js" Minify="true">
    <File Path="confirmHandler.js" />
  </FileGroup>
  <FileGroup Name="smilies.js" Minify="true">
    <File Path="smilies.js" />
  </FileGroup>
  <FileGroup Name="postpage.js" Minify="true">
    <File Path="postpage.js" />
  </FileGroup>
  <FileGroup Name="topic_print.js" Minify="true">
    <File Path="topic_print.js" />
  </FileGroup>
  <FileGroup Name="net.js" Minify="true">
    <File Path="net.js" />
  </FileGroup>
  <FileGroup Name="main.js" Minify="true">
    <File Path="main.js" />
  </FileGroup>
  <FileGroup Name="jquery-ui.js" Minify="true">
    <File Path="jquery-ui.js" />
  </FileGroup>
</root>
