<?xml version="1.0"?>
<root xmlns="urn:ChirpyConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="urn:ChirpyConfig http://www.weirdlover.com/chirpy/chirp.xsd">
  <FileGroup Name="master.js">
    <File Path="net.min.js" Minify="false" />
    <File Path="jquery-1.8.2.min.js" Minify="false" />
    <File Path="jquery-ui.min.js" Minify="false" />
    <File Path="jquery.timeago.min.js" Minify="false" />
    <File Path="confirmHandler.min.js" Minify="false" />
  </FileGroup>
  <FileGroup Name="singlemaster.js">
    <File Path="jquery-1.8.2.min.js" Minify="false" />
    <File Path="jquery-ui.min.js" Minify="false" />
    <File Path="jquery.timeago.min.js" Minify="false" />
    <File Path="confirmHandler.min.js" Minify="false" />
  </FileGroup>  
  <FileGroup Name="common.js">
    <File Path="bbcode.min.js" Minify="false"/>
    <File Path="smilies.min.js" Minify="false"/>
    <File Path="confirmdialog.js" Minify="false"/>
  </FileGroup>  
  <FileGroup Name="help.js">
    <File Path="editor.min.js" Minify="false" />
    <File  Path="bbcode.min.js" Minify="false"/>
    <File Path="smilies.min.js" Minify="false"/>
    <File Path="confirmdialog.js" Minify="false"/>
    <File Path="syntax/shCore.min.js" Minify="false"/>
    <File Path="syntax/shAutoloader.min.js" Minify="false"/>
  </FileGroup>
  <FileGroup Name="topic.js">
    <File Path="swfobject.js" Minify="false" />
    <File Path="jquery.youtube.player.min.js" Minify="false"/>    
    <File Path="editor.min.js" Minify="false" />
    <File Path="bbcode.min.js" Minify="false"/>
    <File Path="smilies.min.js" Minify="false"/>
    <File Path="postpage.min.js" Minify="false"/>
    <File Path="topic_print.min.js" Minify="false"/>
    <File Path="jsShare.min.js" Minify="false"/>
    <File Path="syntax/shCore.min.js" Minify="false"/>
    <File Path="syntax/shAutoloader.min.js" Minify="false"/>  
  </FileGroup>
    </root>
  