<?xml version="1.0" encoding="utf-8"?>
    <connectionStrings>
    <add name="SnitzConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SnitzDotNetDatabase.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="SnitzConnectionString2" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=snitzforumsdotnet;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SnitzConnectionString3" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Temp\snitz_forums_2000.mdb;Persist Security Info=False;" />
  </connectionStrings>
