<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="RunSetup" value="false" />
  <add key="SnitzDAL" value="SQLServerDAL" />
  <add key="EventsDAL" value="Snitz.EventsCalendar.SQLServerDAL" />
  <add key="strCookiePath" value="" />
  <add key="strTablePrefix" value="FORUM_" />
  <add key="strMemberTablePrefix" value="FORUM_" />
  <add key="strFilterTablePrefix" value="FORUM_" />
  <add key="applicationName" value="FORUM_" />
  <add key="strForumDescription" value="Snitz&amp;trade; Forums ASP.Net 3.5 port" />
  <add key="strForumTitle" value="Snitz&amp;trade; Forums .Net" />
  <add key="strCopyright" value="Snitz 2013-14" />
  <add key="strHomeUrl" value="http://" />
  <add key="strForumUrl" value="http://" />
  <add key="defaultTheme" value="Light" />
  <add key="strGoogleAdCode" value="" />
  <add key="TopicMoveEmail" value="~/App_Data/TopicMove.txt" />
  <add key="intFloodCheckTime" value="30" />
  <add key="intSubscriptionLevel" value="3" />
  <add key="intHotTopicNum" value="25" />
  <add key="intTopicPageSize" value="15" />
  <add key="intMemberPageSize" value="20" />
  <add key="intSearchPageSize" value="25" />
  <add key="intShowRankType" value="3" />
  <add key="intMinAge" value="14" />
  <add key="dblTimeAdjust" value="0" />
  <add key="intActivePoll" value="1" />
  <add key="strDateType" value="dd MMM yyyy" />
  <add key="strTimeType" value="HH:mm:ss" />
  <add key="boolShowRightColumn" value="1" />
  <add key="boolShowHeaderAds" value="0" />
  <add key="boolShowSideAds" value="0" />
  <add key="boolShowGoogleAds" value="0" />
  <add key="boolProhibitNewMembers" value="0" />
  <add key="boolRequireReg" value="0" />
  <add key="boolUserNameFilter" value="1" />
  <add key="boolIPLogging" value="1" />
  <add key="boolFloodCheck" value="1" />
  <add key="boolShowGroups" value="0" />
  <add key="boolBadWordFilter" value="1" />
  <add key="boolCaptcha" value="1" />
  <add key="boolUserGalleries" value="1" />
  <add key="boolShowGalleries" value="0" />
  <add key="boolModeration" value="1" />
  <add key="boolShowModerators" value="0" />
  <add key="boolMoveTopicMode" value="0" />
  <add key="boolMoveNotify" value="0" />
  <add key="boolArchiveState" value="0" />
  <add key="boolShowStatistics" value="0" />
  <add key="boolAllowSearchAllForums" value="1" />
  <add key="boolEditedByDate" value="1" />
  <add key="boolShowTopicNav" value="1" />
  <add key="boolShowSendToFriend" value="1" />
  <add key="boolShowPrinterFriendly" value="1" />
  <add key="boolHotTopic" value="1" />
  <add key="boolAllowForumCode" value="1" />
  <add key="boolImgInPosts" value="1" />
  <add key="boolIcons" value="1" />
  <add key="boolSignatures" value="1" />
  <add key="boolShowSmiliesTable" value="1" />
  <add key="boolShowQuickReply" value="1" />
  <add key="boolShowTimer" value="1" />
  <add key="boolPrivateMessaging" value="1" />
  <add key="boolEmail" value="1" />
  <add key="boolUniqueEmail" value="1" />
  <add key="boolLogonForMail" value="1" />
  <add key="boolEmailValidation" value="1" />
  <add key="boolUseEmail" value="0" />
  <add key="boolMailAuth" value="1" />
  <add key="boolRestrictReg" value="1" />
  <add key="boolEncrypt" value="0" />
  <add key="boolShowPaging" value="1" />
  <add key="boolStickyTopic" value="1" />
  <add key="boolShowLastPostLink" value="1" />
  <add key="ping" value="0" />
  <add key="YahooId" value="" />
  <add key="boolShowAnnouncement" value="0" />
  <add key="strAnnounceAuth" value="&lt;![CDATA[An announcement [b]bold text[/b]]]&gt;" />
  <add key="strAnnounceAnon" value="&lt;![CDATA[An announcement [b]bold text[/b]]]&gt;" />
  <add key="boolBlogMenuEnabled" value="1" />
  <add key="boolLogonForEmail" value="1" />
  <add key="intPreferredPasswordLength" value="8" />
  <add key="intMinimumNumericCharacters" value="1" />
  <add key="boolDayLightSavingAdjust" value="1" />
  <add key="strTimeZone" value="GMT Standard Time" />
</appSettings>