<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="FromEmailAddress">
        <network host="SMTPSERVER" userName="MAILUSERNAME" password="PASSWORD" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings file="snitz.config" xdt:Transform="Replace">
    <add key="boolDebugMode" value="1" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="Off" defaultRedirect="/Handlers/GenericErrorPage.aspx" xdt:Transform="Replace">
      <error statusCode="403" redirect="/Handlers/NoAccess.aspx" />
      <error statusCode="404" redirect="/Handlers/FileNotFound.aspx" />
    </customErrors>
  </system.web>
</configuration>