body {
}
.adminform {
    background-color: #FFF;
}
.adminform #content {
    padding: 6px;
}
.defaultform label{width:160px;display:inline-block;}
.pollForm{background-color:White;border:1px solid #0FA1B8;padding:4px;}
.pollForm .AspNet-DetailsView-Name{width:150px;display:inline-block;}

.featuresform label {width:250px;display:inline-block;}
.profileform label{width:120px;display:inline-block;}
.emailform label {width:250px;display:inline-block;}
.emailserverform label {width:250px;display:inline-block;}
span.cbx label{width:50px;display:inline-block;}

        #container{width:95%;margin:auto}
        #leftcolumn{float:left;width:20%; left: 0; top: 0;}
        #contentcolumn{width:50%;margin:auto;height:auto;vertical-align:top;float:left;border-radius:5px;}
        /* button style */

a.modLink span {
    display: inline-block;
    white-space:nowrap;
    width: 160px;
    padding-left: 6px;
    border: 1px solid silver;
    border-radius:3px
} 
a.modLink:hover span, a.modLink:active span {
    background-color: #ababab;
} 
a.modLink:hover {
    text-decoration:none;
    color:#000000;
}

.mod_enabled_lbl{display: inline-block;width:100px;font-weight: bold;}
.mod_btn_pnl{text-align: right;border:1px solid gray;background-color: silver;margin-top:3px;padding :4px;border-radius:4px;}
.help-panel {
    height: 300px;
    overflow: auto;
    border: 1px solid silver;
    background-color: #FFFFCC;
}