body {
}
.pollForm{background-color:White;border:1px solid #0FA1B8;padding:4px;}
.pollForm .AspNet-DetailsView-Name{width:150px;display:inline-block;}

.featuresform label {width:250px;display:inline-block;}
.profileform label{width:120px;display:inline-block;}
.emailform label {width:250px;display:inline-block;}
.emailserverform label {width:250px;display:inline-block;}
span.cbx label{width:50px;display:inline-block;}