html{font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:.9em}
body{background-color:#FFC751;color:#C00;margin:0;padding:0;line-height:1.4em}
#aspnetForm{width:100%;margin:0}
#LoginDIV{float:left;width:30%;margin-left:-30%;background-color:#f80}
#LogoDIV{margin-left:0;float:left}
#TitleDIV{margin:auto;margin-top:15px;float:right;vertical-align:middle;text-align:center;background-color:#f80}
#MenuDIV{display:block;background-color:#F60;padding-top:1px;margin:1px 0 1px 0;width:auto;height:24px;border-top:1px solid #f80;border-bottom:1px solid #F30;clear:both}
#mainDIV{margin:auto;width:98%}
#breadcrumbDIV{line-height:22px;height:22px;margin:1px;background-color:#f80;border:1px solid #F60;border-radius:5px;padding:0}
#HdrDIV{margin:1px}
#header,#upheader,#brwsheader{width:100%;background:#F60;height:26px;vertical-align:middle}
#RightHdrDIV{margin-left:0;float:right;width:49%;text-align:right}
#LeftHdrDIV{float:left;width:49%}
#contentDIV{width:auto;margin:1px;clear:both}
#MessageList{width:100%}
#contentfooterDIV{margin:1px;width:auto}
#pagefooterDIV{width:100%;margin:auto;background-color:transparent}
#LoginBox{float:right}
#LoginBox .content{display:block;border:0}
#maincontainer{margin:5px 20px 5px 20px;border:3px solid #F60;border-radius:5px;background-color:#FFBB2F}
#maincontainer:after{content:".";display:block;height:0;clear:both;visibility:hidden}
#topsection{background:#FFBB2F}
#topsection h1{margin:0;padding-top:15px;border-radius:5px}
#contentwrapper{width:100%;float:left;margin-right:-325px}
#rightcolumn{float:right;width:320px}
#footer{clear:both;width:100%}
#PostOptionsDIV{padding-right:5px;text-align:center}
#PagerPanel{margin-top:3px}
.breadcrumb span{line-height:22px;vertical-align:top}
.clearmargin{margin-right:0}
.hide{display:none}
.rightmargin{margin-right:325px}
.show{display:block}
.innertube{margin:10px;margin-top:5px}
.rtl{direction:rtl}
.nowrap{white-space:nowrap}
.daydetail{border:1px solid #F60;border-top:0;width:35%;float:left}
#popup_container{font-family:Arial,sans-serif;font-size:12px;min-width:300px;max-width:600px;background:#FFF;border:solid 5px #999;color:#000;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
#popup_title{font-size:14px;font-weight:bold;text-align:center;line-height:1.75em;color:#666;background:#CCC url(images/title.gif) top repeat-x;border:solid 1px #FFF;border-bottom:solid 1px #999;cursor:default;padding:0;margin:0}
#popup_content{background:16px 16px no-repeat url(images/info.gif);padding:1em 1.75em;margin:0}
#popup_content.alert{background-image:url(images/info.gif)}
#popup_content.confirm{background-image:url(images/important.gif)}
#popup_content.prompt{background-image:url(images/help.gif)}
#popup_message{padding-left:48px}
#popup_panel{text-align:center;margin:1em 0 0 1em}
#popup_prompt{margin:.5em 0}
.snitzMenu div.AspNet-Menu-Horizontal:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.snitzMenu div.AspNet-Menu-Horizontal{z-index:10000;margin-left:auto;margin-right:auto;text-align:center;width:auto}
.snitzMenu ul{background:#F60}
.snitzMenu ul.AspNet-Menu ul{width:9.5em;top:-1em;z-index:400}
.snitzMenu ul.AspNet-Menu ul ul{width:10.5em;left:10.4em}
.snitzMenu ul.AspNet-Menu li{white-space:nowrap;height:auto!important;line-height:1em}
.snitzMenu ul.AspNet-Menu li a,.snitzMenu ul.AspNet-Menu li span{padding:4px 4px 4px 6px;border-bottom:0}
.snitzMenu ul.AspNet-Menu li.AspNet-Menu-Leaf a,.snitzMenu ul.AspNet-Menu li.AspNet-Menu-Leaf span{background-image:none}
.snitzMenu ul.AspNet-Menu li:hover,.snitzMenu ul.AspNet-Menu li.AspNet-Menu-Hover{background:transparent}
.snitzMenu ul.AspNet-Menu li a:hover,.snitzMenu ul.AspNet-Menu li span.Asp-Menu-Hover{background:transparent url(images/menu-expand.gif) right center no-repeat}
.snitzMenu ul.AspNet-Menu li.AspNet-Menu-Leaf a:hover{background-image:none}
.snitzMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul{width:10.5em;left:0;top:100%}
.snitzMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul ul{top:-0.3em}
.snitzMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul ul{width:11.5em}
.snitzMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li{width:auto;min-width:6em;border-left:1px solid #F60;border-right:1px solid #F00;text-align:center}
.snitzMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul li{text-align:left;width:10.5em}
.snitzMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul ul li{width:11.5em}
.snitzMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li ul li ul{margin:-1.4em 0 0 10.35em}
.snitzMenu .AspNet-Menu-Horizontal li.AspNet-Menu-WithChildren ul{white-space:nowrap;border:solid 1px yellow!important;-moz-box-shadow:3px 3px 4px #f00;-webkit-box-shadow:3px 3px 4px #f00;box-shadow:3px 3px 4px #f00}
.snitzMenu ul.AspNet-Menu li.AspNet-Menu-Leaf span.AspNet-Menu-NonLink{display:none}
.snitzMenu ul.AspNet-Menu li a,.snitzMenu ul.AspNet-Menu li span{color:yellow}
.snitzMenu ul.AspNet-Menu li a:hover,.snitzMenu ul.AspNet-Menu li span.Asp-Menu-Hover{color:#FC0}
table,tr,td,th{border-collapse:collapse}
b{font-size:105%}
img{border:0}
fieldset{margin-top:20px;padding:10px 8px 10px;border:1px solid #F60;border-radius:6px}
legend{padding:2px 4px;background-color:#fa0;border:1px solid #F60;border-radius:3px}
fieldset>legend{float:left;margin-top:-28px}
fieldset>legend+*{clear:both}
hr{height:0;border:dotted #F60 0;border-top-width:1px}
h1{font-weight:bold;font-size:1.2em;text-decoration:none;line-height:120%;color:#F20}
h2{font-weight:bold;font-size:1em;text-decoration:none;line-height:1em;color:#F30}
h3{font-weight:bold;font-size:.9em;padding-left:4px;text-decoration:none;line-height:1em;color:#F60}
p{font-size:.9em;padding:0 4px 0 4px}
input,textarea,select{color:#000;border:1px solid #F60;border-radius:3px}
input[type="checkbox"]{border:0}
input[type="radio"]{border:0}
input{text-indent:2px}
#contentfooterDIV .forumtable{border:0 none}
#contentfooterDIV .statsPanelHeader a:hover{text-decoration:none;background:0}
span.topicPageLnk{border:1px solid #F60;padding-left:2px;padding-right:2px}
.allReadButton{background:url(images/admin/book.png) no-repeat;cursor:pointer;width:15px;height:15px;border:0}
.AspNet-Login{margin:auto}
.AspNet-FormView-Data{padding:4px}
img.captchaImage{border:1px solid #F60;margin:2px}
.faqCat label{display:inline-block;width:140px}
.breadcrumb{height:auto;width:auto;background-color:transparent}
.PageTitle{float:left;margin-left:5px;margin-top:8px;line-height:120%}
.row td{background-color:#Ff9;border-bottom:1px solid #F60;border-right:1px solid #F60;vertical-align:top;overflow:hidden}
.altrow td{background-color:#Ff6;border-bottom:1px solid #F60;border-right:1px solid #F60;vertical-align:top;overflow:hidden}
.row td.CatHeaderRow{background-color:#F60;border:0}
.row td.ForumHeaderRow{background-color:#F80;border:0}
.row td.iconCol,.altrow td.iconCol{vertical-align:top}
.row td.buttonCol,.altrow td.buttonCol{min-width:110px;width:110px;max-width:110px;vertical-align:top}
.row td.subjectCol,.altrow td.subjectCol{overflow:hidden;max-width:300px;width:300px}
.emptyrow{text-align:center}
.category{background-color:#F60;height:24px}
.tableheader,th.tableheader,.tableheader th,td.tableheader{background-color:#F70}
th.iconCol,td.iconCol{max-width:26px;width:26px}
th.forumCol,td.forumCol{width:auto}
th.subjCol,td.subjCol{width:auto}
th.authorCol,td.authorCol{max-width:100px;width:60px}
th.userCol,td.userCol{max-width:120px;width:100px}
th.countCol,td.countCol{max-width:60px;width:45px}
th.postcountCol,td.postcountCol{max-width:80px;width:65px}
th.lastpostCol,td.lastpostCol{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:200px;width:140px}
th.buttonCol,td.buttonCol{max-width:50px;width:48px}
th.dateCol,td.dateCol{max-width:140px;white-space:normal;width:110px}
th.countryCol,td.countryCol{max-width:100px;width:80px}
th.rankCol,td.rankCol{width:auto}
td.countCol{text-align:center}
td.authorCol{text-align:center}
div.category{border-top-left-radius:3px;border-top-right-radius:3px}
td.category,.row td.categorylink{background-color:#F60;height:24px;padding-top:4px}
.FooterTable{padding:5px 10px 0 10px;border-top:1px solid #F80;border-bottom:1px solid #F10;background-color:#F60}
.FooterTable table{table-layout:auto}
#statsControl{width:100%;margin:auto}
#contentfooterDIV .statsPanel{background-color:#Ffa;padding:5px;overflow:hidden;border:1px solid #F60;border-bottom-right-radius:5px;border-bottom-left-radius:5px;border-top:0}
.categorybuttons{float:right;vertical-align:middle;margin-top:5px;margin-right:5px}
.statsPanelHeader{background-color:#F60;height:30px;vertical-align:text-bottom;overflow:hidden;border:1px solid #F30;border-top-right-radius:5px;border-top-left-radius:5px}
.statsPanelHeader img{margin:0}
.stickytable{background-color:#Ffa;border:1px solid #F60;width:100%;display:inline-table;table-layout:fixed}
tr.rowsticky{border-bottom:1px solid #F60}
.rowsticky td{background-color:#Ffa}
.rowsticky td.iconCol{max-width:20px;width:20px;vertical-align:top}
.rowsticky td.buttonCol{min-width:110px;width:110px;max-width:110px;vertical-align:top}
.profilelnk img{vertical-align:text-bottom}
.tooltip{border:1px solid #F60;background-color:White;padding:5px;max-height:350px;overflow:auto;width:650px}
.TopicDiv .AspNet-FormView{width:100%;margin:0;padding:0;border-radius:5px}
.poll-content,.topic-content{background-color:#FF6}
.topic-content{border-radius:4px;border:1px solid #f60}
.TopicDiv .AspNet-FormView div.AspNet-FormView-Header{width:100%;margin:0}
.topicHeader{width:100%;background-color:#F60}
.topicPrev{float:left;width:20%;padding:3px}
.topicNext{float:right;width:auto;padding:3px}
.topicPrev a{text-decoration:none}
.topicNext a{text-decoration:none}
#replyHeader{width:100%;text-align:right;margin-top:4px;margin-bottom:4px;padding-top:4px;padding-bottom:4px}
.TopicSubject{width:100%;border:1px solid #F60;background-color:#F60;overflow:hidden}
.topictitle{margin:8px;line-height:1.3em}
.usertitle{line-height:1.2em}
.ReplyDiv{width:100%;border:1px solid #F60;background-color:#efefef;overflow:hidden!important;overflow:hidden;margin-top:2px;margin-bottom:2px;float:left;border-radius:4px}
.AltReplyDiv{width:100%;border:1px solid #F60;background-color:White;overflow:hidden!important;overflow:hidden;float:left}
.leftColumn{float:left;min-height:160px;width:181px;padding:3px;height:auto!important;height:160px}
.MessageDIV{position:relative;padding:1px;min-height:250px;height:auto!important;height:185px;border-left:1px solid #F60;margin-left:187px;margin-right:0;margin-bottom:0}
.mImg{max-width:99%;width:auto!important;width:99%}
.mContent{min-height:120px;height:auto!important;height:120px;width:99%!important;width:95%;padding:4px}
.msgIcons{padding:1px;display:inline;vertical-align:top;width:16px;height:16px}
.buttonbar{height:20px;border-bottom:1px solid #f30;width:100%;background-color:#f80;padding-top:2px;border-top-right-radius:4px}
.buttonbarImg span{height:auto;display:inline;vertical-align:bottom}
.buttonbarImg{height:auto;display:inline;vertical-align:bottom;float:right}
.buttonbarTxt{float:left;vertical-align:text-top}
.buttonbarImg img{width:16px}
.TopIcon{padding:1px;float:right}
.TopIcon img{width:16px}
.sigDIV{bottom:0;height:auto;margin-bottom:3px;width:100%;vertical-align:baseline}
.modalPopup{background-color:#ffd;border-width:1px;border-style:solid;border-color:Gray;padding:5px;width:350px;height:auto}
.avatar{border:1px solid #F60;width:80px;height:80px}
.usrlabel{width:100px;display:inline-block;line-height:1em}
blockquote.quoteMessage{margin:1.5em 1em;padding:.5em 1em;background-color:#FFFF96}
blockquote.quoteMessage span{display:block}
blockquote.quoteMessage span:before{content:url(images/smallquote_lt.png)}
blockquote.quoteMessage span:last-child:after{content:url(images/smallquote_rt.png);display:block;float:right}
.codebox{position:relative;display:block;margin:5px 20px 5px 20px;padding-top:0;padding-bottom:1px;border:1px solid #F60;line-height:1em;overflow:auto;width:90%!important;min-height:100px;min-width:200px;max-height:250px;height:auto!important;height:100px;background-color:#fff}
.stickytable div{max-width:400px}
.codehead{margin:0;margin-bottom:0;padding-left:8px;padding-bottom:0;border-bottom:1px solid #808080;line-height:1.2em;background-color:#CCC;position:relative}
.regBox{width:75%;position:relative;margin:auto;border:1px solid #F60;background-color:White}
.regBoxHeader{background-color:#F60;height:22px}
.SearchLinks{margin-top:3px;text-align:center;padding:10px}
.SearchFilters{background-color:#F60;border:1px gold solid;margin-top:3px;width:98%;padding:10px}
#postForm{height:400px;width:auto;margin:auto;padding:3px;height:auto!important;width:75%;border:1px solid #F60;border-radius:5px}
#postForm label{display:inline-block;width:140px;float:left}
#postForm input{border:solid 1px #F60;width:70%;margin:0 0 2px 10px}
#postForm select{border:solid 1px #F60;min-width:60px;width:60px;width:auto!important;margin:0 0 10px 10px}
#postForm input[type="image"]{clear:both;margin-left:0;width:88px;height:20px}
#postForm input[type="checkbox"]{clear:both;width:12px;height:12px;border:0;float:left}
#postForm span.cbx label{display:block;width:350px;float:left}
#container:after{content:'';display:block;clear:both}
#emoticons{width:125px;top:0;height:auto;margin:auto}
#Editor{float:left}
.QRBox{margin:0}
.QRBox #qrcontentwrapper{border-style:none solid solid solid;border-color:#F60;border-width:1px;background-color:White}
.QRHeader{background-color:#F60;height:22px;border-style:solid;border-width:1px 0 1px 0;border-color:#F60;border-top-left-radius:5px;border-top-right-radius:5px}
.QRLeft{width:150px;background-color:White;float:left}
.QRRight{margin-top:16px;vertical-align:top;float:left;width:80%}
.QRFooter{clear:left;width:100%;text-align:center;padding:2px 0}
textarea.QRMsgArea{border:1px solid #F60;width:97%!important;width:90%}
.profBtn img{padding:1px}
input.profBtn{padding:1px}
.NoBorder{border:0}
#ContactFieldset label{display:inline-block;width:140px;float:left}
#ContactFieldset input,#ContactFieldset textarea{border:solid 1px #F60;width:70%;margin:0 0 10px 10px}
.seperator{line-height:.4em}
.sideBox{background-color:white;border:1px solid #F60;table-layout:fixed;width:100%;border-top-style:none;border-radius:5px}
.forumtable{background-color:#f8f8f8;padding:0;border-collapse:collapse;border:1px solid #F60;table-layout:fixed;width:100%;border-radius:5px}
table.smallCal{table-layout:auto}
.smallCal table{table-layout:auto}
.ovHidden{overflow:hidden}
.shadow{-moz-box-shadow:3px 3px 4px #000;-webkit-box-shadow:3px 3px 4px #000;box-shadow:3px 3px 4px #000}
.table-bottom{text-align:left;margin:0 auto;padding:0;border:0}
.table-bottom-left{float:left;max-width:50%}
.table-bottom-right{margin:0;float:right;width:auto;text-align:right}
.table-bottom-footer{clear:both}
.PostForm{background-color:White;margin:0 auto}
.pmbuttonbar{height:20px;border-bottom:1px solid #f30;width:100%;padding-top:2px}
.PMContainer{width:80%;padding:4px;margin:auto;background-color:#f80;border-radius:5px}
.pm-inner{background-color:#f60;padding:3px;border:1px solid yellow;border-radius:3px}
.pmbutton{height:28px;background-color:#f80;margin-bottom:3px;vertical-align:middle;padding:2px}
.popub-bkg{position:absolute;background:#666;filter:alpha(opacity=80);-moz-opacity:.8;opacity:.8;top:0;left:0;width:100%;height:100%;z-index:500;display:none;vertical-align:middle;text-align:center}
.pmbutton input{vertical-align:middle;border:1px solid #f30;margin:1px;border-radius:3px}
.pmbutton input:hover{border:1px solid yellow}
div.pm-new-message{padding:3px}
.pm-new-message label{width:60px;display:inline-block}
.pm-new-message input{margin:2px;margin-left:8px}
.pm-message-header{background-color:#FFC751;padding:3px}
div.mini{width:77%;display:inline-block;margin:auto}
.pmMsgArea{width:77%;height:80px}
textarea.pmMsgArea{border:1px solid #000;width:98%}
.pm-new-message .markItUpEditor{min-height:50px!important}
.pmoptions fieldset{font-size:smaller}
.pm-footer{margin-top:2px;height:22px;background-color:#f80;vertical-align:middle;padding:2px;border-bottom-left-radius:3px;border-bottom-right-radius:3px}
.hidden{display:none!important}
.memberModalPopup{margin:0 auto;width:360px}
.announceBox{text-align:center;width:80%;margin:auto;border:3px ridge red;background-color:#FFBB2F}
.hidden{display:none;visibility:hidden}
.blogList{background-color:#FFFF8C;border:1px solid #f60;border-radius:5px;padding:4px;margin-top:14px;max-height:400px}
.blog-date{width:60px;height:70px;background-color:white;float:left;text-align:center;border-radius:4px;border:1px solid #f60;box-shadow:3px 3px 4px #000}
.blog-day{color-rendering:black;height:50px;vertical-align:middle;font-size:x-large}
.blog-day span{display:inline-block;vertical-align:middle;line-height:50px}
.blog-month{width:100%;background-color:#f60;color:gold;height:20px;border-top-left-radius:3px;border-top-right-radius:3px}
.blog-content{margin-left:80px}
.blogheader{background-color:#eee;border:1px solid #f40;width:99%;margin-bottom:3px;font-size:smaller;border-radius:5px}
.blogmessage{background-color:whitesmoke;border:1px solid #f60;min-height:100px;width:99%;border-top-left-radius:7px;border-bottom-right-radius:7px}
.blogreply{background-color:#fafafa;border:1px solid #f60;min-height:40px;width:70%;margin-left:160px;margin-bottom:3px;border-radius:5px}
.blogreply span{font-size:x-small}
.blog-buttons{display:table-cell;text-align:center;vertical-align:middle;color:#bbb}
.blog-buttons img{vertical-align:middle}
.blog-buttons input{vertical-align:middle}
.blog-content h2{vertical-align:middle}
.blog-content h2 span img{vertical-align:middle}
.blog-comments{display:none}
.Poll_TakePoll,.Poll_PollResults{border:1px dashed #f60;padding:5px;margin-top:5px;margin-left:10px;margin-right:5px}
.PollBox{background-color:#ff9;border:1px solid #F60;border-radius:5px}
.poll-content{min-height:40px;border:1px solid #f60;border-top-left-radius:5px;border-top-right-radius:5px}
.Poll_PollResults table{width:99%}
.popup-button-panel{margin:5px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
#__asptrace{position:relative}
.mainModalPopup{border-width:0;min-width:440px;width:450px;width:auto!important;max-width:800px;background-color:#fff;padding:0;max-height:90%;line-height:1em;font-size:.8em}
.mainModalPopup fieldset{font-size:inherit;margin-top:10px}
.mainModalPopup fieldset>legend{margin-top:-20px}
.mainModalPopup fieldset input[type="text"]{margin-bottom:2px}
.mainModalPopup fieldset label{line-height:120%;padding-right:3px}
.mainModalPopup fieldset textarea{width:99%;margin-bottom:2px}
.mainModalBorder{border-left:1px solid #ECE9D8;border-right:1px solid #716F64;border-top:1px solid #ECE9D8;border-bottom:1px solid #716F64}
.mainModalInnerDiv{background-color:#fff;border-width:0;width:auto}
.mainModalInnerBorder{border-left:1px solid #FFF;border-right:1px solid #ACA899;border-top:1px solid #FFF;border-bottom:1px solid #ACA899}
.mainModalDraggablePanelDiv{white-space:nowrap;height:20px;width:90%;float:left;padding-top:3px}
.mainModalDraggablePanelCloseDiv{float:right;height:20px;padding-top:3px}
.mainModalDraggablePanel{width:100%}
.mainModalTitle{color:#FFF;font-weight:bold}
.mainModalContent{background-color:#FFF;margin:4px}
.modalBackground{background-color:#666;opacity:.8}
.modalBackgroundDark{background-color:#000}
a:link,a:active{color:#F60;text-decoration:none}
a:visited{color:#F30;text-decoration:none}
a:hover{text-decoration:underline;color:#F40}
#header a,#upheader a,#brwsheader a{color:gold;font-weight:bolder}
a.forumlink{text-decoration:none;color:#F20}
a.forumlink:visited{color:#F30}
a.forumlink:hover{text-decoration:underline}
a.active:visited{color:#F10}
.poweredText a,a.poweredText{color:#F10;font-size:.6em}
.PageTitle{font-weight:bold;color:gold;font-size:1em;text-decoration:none}
.smallText{font-Size:.8em}
.categorylink,th.categorylink,td.categorylink{color:#fff;font-size:1.2em;font-weight:bold}
a.Snitzbutton{background:transparent url(images/buttons/button_right.png) no-repeat scroll top right;display:block;float:left;height:30px;margin-right:6px;padding-right:20px;text-decoration:none;color:gold;font-size:12px;font-weight:bold}
a.Snitzbutton span{background:transparent url(images/buttons/button_left.png) no-repeat;display:block;line-height:18px;padding:7px 0 5px 18px;white-space:nowrap}
a.Snitzbutton:hover span{text-decoration:none;color:gold}
.bbcode h1{font-weight:bold;font-size:1.1em;text-decoration:none;line-height:1em;color:red}
.bbcode h2{font-weight:bold;font-size:.9em;text-decoration:none;line-height:1em;color:#f30}
.bbcode h3{font-weight:bold;font-size:.8em;padding-left:4px;text-decoration:none;line-height:.8em;color:#F60}
.tableheader,th.tableheader,.tableheader th,td.tableheader{color:#F40;font-weight:normal;font-size:smaller}
.tableheader a{color:yellow;font-weight:bold;text-decoration:none}
.cattitle{font-weight:bold;color:gold}
.row td.ForumHeaderRow{color:yellow}
#LoginBox .content{font-size:small;color:gold}
#contentfooterDIV .statsPanelHeader a{color:#F60}
.breadcrumb a{color:#F40;text-decoration:none}
.FooterTable{font-size:10px;color:#F00}
.poweredText{color:#f60;font-size:.6em}
.statsPanelHeader{font-weight:bold}
.tooltip{font-size:small}
.topicPrev a{color:gold}
.topicNext a{color:gold}
.TopicSubject{color:White}
.topictitle{font-weight:bold}
.usertitle{font-weight:bold;color:#F60}
.ReplyDiv{color:#F60}
.AltReplyDiv{color:#F30}
.editedDIV{color:#903;font-size:.8em}
.sigDIV{font-size:smaller}
.usrlabel{font-weight:bold}
blockquote.quoteMessage{font-size:smaller}
blockquote.quoteMessage span{font-style:normal}
.codebox{font:.8em Monospace;color:black}
.codebox a{color:#f50}
.codehead{font-size:1.1em;font-weight:normal;color:gold}
.regBoxHeader{color:#fff;font-weight:bold}
.SearchLinks{font-size:1.1em}
.SearchLinks a:visited{color:#F60;text-decoration:none}
.SearchLinks a:link,.SearchLinks a:visited{background:#FFBB2F;padding:1px 3px 1px 3px;margin-right:2px}
.QRHeader{color:gold;font-weight:bold}
span.moderation{font-weight:bolder;color:Red}
.Poll_DisplayText{font-weight:normal}
.Poll_TotalVotes{font-style:italic}
.snitzpager{color:#F60}
.leftColumn .smallText{color:#F60}
.leftColumn .profilelnk{color:red}
.buttonbar{color:white}
.pmtitle{color:#000}
.snitzpager{margin:6px 0 6px 0}
.snitzpager a.pagelink,.snitzpager a.pagelinkfirst,.snitzpager a.pagelinklast,.snitzpager .currentpagelink,.snitzpager .pagecount{text-decoration:none;background:transparent;border:1px solid #F60;padding:1px 3px 1px 3px;margin-right:2px}
.snitzpager .pagecount{margin-right:5px}
.snitzpager a.pagelinkfirst,.snitzpager a.pagelinklast{background:#Fa0}
.snitzpager .currentpagelink{background:#Fa0;border:1px solid red;color:red}
.snitzpager a.pagelink,.snitzpager a.pagelinkfirst,.snitzpager a.pagelinklast{text-decoration:none;color:#F60}
.snitzpager .pagelink:hover,.snitzpager a.pagelinkfirst:hover,.snitzpager a.pagelinklast:hover{background:#F60;color:#F10}
.loggedIn a{color:gold}
.topicSplit label,.topicSplit input{font-size:.9em;display:inline-block;width:120px;margin-bottom:10px}
.topicSplit input[type="text"]{width:400px}
.topicSplit input,.topicSplit select{border:1px solid #f60}
.topicSplit select{max-width:200px}
.topicSplit label{text-align:right;padding-right:20px}