<?xml version="1.0" encoding="utf-8" ?>
<root xmlns="urn:ChirpyConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="urn:ChirpyConfig http://www.weirdlover.com/chirpy/chirp.xsd">
  <FileGroup Name="darkcss.css">
    <File Path="base.css" Minify="true" />
    <File Path="dark.css" Minify="true" />
    <File Path="jquery.alerts.css" Minify="true" />
    <File Path="MainModalDialog.css" Minify="true" />
  </FileGroup>
</root>