#TitleDIV{background-color:  #000;}

#MenuDIV{background-color: #111;background-image:url(images/nav-bg.gif);}
#breadcrumbDIV{background-color:#333;}
#LoginBox .content {font-size:small;color:White; border:0px;}
#topsection{background: #111;}

fieldset{padding:5px;font-size:1.1em;border:1px solid #000;margin:3px;}
legend{color:#000;}

hr	{ height: 0px; border: dotted #c4d1da 0px; border-top-width: 1px;}

h1	{ 	font-weight: bold; font-size: 1.2em;
	text-decoration: none; line-height : 120%; color : #000; }
h2	{ 	font-weight: bold; font-size: 1em;
	text-decoration: none; line-height : 1em; color : #000; }
h3	{ 	font-weight: bold; font-size: 0.9em; padding-left:4px;
	text-decoration: none; line-height : 1em; color : #000; }
p   {font-size:0.9em;padding:0px 4px 0px 4px;}

input,textarea, select {
	color : #fff;
    background-color: #222;
	border-color : #000;
	border-top-width : 1px; 
    border-right-width : 1px; 
    border-bottom-width : 1px; 
    border-left-width : 1px;  
}
input { text-indent : 2px; }
input[type="image"] {
    background-color: transparent;
}
a:link, a:active
{
    color: silver;text-decoration: none;
}
a:visited
{
    color: #000;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
    color: #fff;
}

/* links*/

a.forumlink 	{ text-decoration: none; }
a.forumlink:visited
{
    color: #000;
}
a.forumlink:hover{ text-decoration: underline; }
a.active:visited {color:#000;}
.poweredText a, a.poweredText{
	color:silver;font-size:0.6em;
}


 
.tableheader a{	color: #FFFFFF; font-weight : bold;text-decoration:none;}
#contentfooterDIV .statsPanelHeader a {color:#eee;}
#contentfooterDIV .statsPanelHeader a:hover {text-decoration:none;background:none;}
span.topicPageLnk{border:1px solid silver;padding-left:2px;padding-right:2px;}

.allReadButton { 
    background:url(images/admin/book.png) no-repeat; 
    cursor:pointer; 
    width: 15px; 
    height: 15px; 
    border: none; 
} 

.AspNet-Login{margin:auto;}
img.captchaImage
{
    border: 1px solid #808080;
    margin: 2px;
}

/*classes*/
.breadcrumb{height:auto;width:auto;background-color:transparent;}
.breadcrumb a{color:#000;text-decoration:none;}
.PageTitle	{
	font-weight: bold;color:White;float:left;margin-left:5px;font-size:1em;margin-top:8px;
	text-decoration: none; line-height : 120%;
}

.smallText{font-Size:0.8em;}

.row td
{
    background-color: #444;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    vertical-align:top;
    overflow:hidden;
}
.altrow td
{
    background-color: #333;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    vertical-align:top;
    overflow:hidden;
}
.row td.CatHeaderRow{background-color:#000;border:0px;}
.row td.ForumHeaderRow {background-color: #222; color:silver;border:0px;}
.row td.iconCol, .altrow td.iconCol {max-width:20px;width:20px; vertical-align:top;}
.row td.buttonCol, .altrow td.buttonCol {min-width:110px;width:110px; max-width: 110px;vertical-align:top;background-color:#111;}
.row td.subjectCol, .altrow td.subjectCol {overflow:hidden;max-width:300px;width:300px;}

.emptyrow{text-align:center;}

.category{background-color: #000; height: 24px;background-image:url(/images/cat-bar.gif)}
tr.category {background-image:url(images/cat-bar.gif);}
td.category, .row td.categorylink{background-color: #000; height: 24px;padding-top:4px;background-image:url(images/cat-bar.gif)}
.categorylink,th.categorylink ,td.categorylink {color:#ffffff;font-size:1.2em;font-weight:bold;}
.CategoryExpanded{
	background-image: url(/images/collapse_blue.png);
	background-position: center;
	background-repeat: no-repeat;
    background-color: transparent;
}
.CategoryCollapsed{
	background-image: url(/images/expand_blue.png);
	background-position: center;
	background-repeat: no-repeat;
    background-color: transparent;
}
.tableheader, th.tableheader, .tableheader th,  td.tableheader {
    color: #fff;
    font-weight: normal;
    background-color: #111;
    font-size: smaller;
}
.cattitle		{ font-weight: bold; color : #FFFFFF; }
.FooterTable 
{
	padding: 5px 10px 0px 10px;
	font-size: 10px;
	color:#fff;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #5C5C5C;
	background-color:#111; 
}
.FooterTable table {table-layout:auto;}
.poweredText{
	color:silver;font-size:0.6em;
}

#statsControl
{
    width:100%;
    margin:auto;
}
#contentfooterDIV .statsPanel {
	
	background-color:#222;
	padding:5px;
	overflow:hidden;
}
.categorybuttons {
    float: right;
    vertical-align: middle;
    margin-top: 5px;
    margin-right: 5px;
}
.statsPanelHeader{
	width:100%;
	color:#FFF;
	height:30px;
	font-weight:bold;
    background-color:#000;
	background-image:url(/App_Themes/Dark/images/cat-bar.gif);
	vertical-align:text-bottom;
	overflow:hidden;
}
.statsPanelHeader img{ margin: 0px;}
.stickytable
{
	background-color: #333;
	border: 1px solid #000;
	width:100%;
	display:inline-table;
	table-layout:fixed;
}
tr.rowsticky{border-bottom:1px solid #000;}
.rowsticky td
{
    background-color: #333;

}
.rowsticky td.iconCol {max-width:20px;width:20px; vertical-align:top;}
.rowsticky td.buttonCol {min-width:110px;width:110px;max-width: 110px; vertical-align:top;}

.profilelnk img{ vertical-align:text-bottom;}

/* Pagerlinks */
.snitzpager {
    color: #555555;
    margin: 6px 0px 6px 0px;
}
.snitzpager a.pagelink,
.snitzpager a.pagelinkfirst,
.snitzpager a.pagelinklast,
.snitzpager .currentpagelink,
.snitzpager .pagecount
{
    text-decoration: none;
    background: #111;
    border: 1px solid #444444;
    padding: 1px 3px 1px 3px;
    margin-right: 2px;
}
.snitzpager .pagecount {
    margin-right: 5px;
}
.snitzpager a.pagelinkfirst,
.snitzpager a.pagelinklast{
    background: #111;
}
.snitzpager .currentpagelink{
    background: #000;
}
.snitzpager a.pagelink ,
.snitzpager a.pagelinkfirst ,
.snitzpager a.pagelinklast  {
    text-decoration: none;
    color: #fff;
}


.tooltip{border:1px solid #000;background-color:White;padding:5px; font-size:small;max-height:350px; overflow:auto;width:650px;}

/* Topic+Reply */
.AspNet-FormView {width:100%;margin:0px;background-color:transparent;border:0px solid #000;}
.AspNet-FormView div.AspNet-FormView-Header{width:100%;margin:0px;background-color:#000;}
.AspNet-FormView-Data{padding-right:1px;padding:5px;}
.topicHeader{width:100%;background-image:url(images/cat-bar.gif)}
.topicPrev{float:left;width:20%;padding:3px;font-size:large;}
.topicNext{float:right;width:auto;padding:3px;font-size:large;}
.topicPrev a{font-size:small;text-decoration:none;color:White;}
.topicNext a{font-size:small;text-decoration:none;color:White;}

#replyHeader{width:100%; text-align:right;margin-top:4px;margin-bottom:4px;padding-top:4px;padding-bottom:4px;background-color:#222;}
.TopicDiv{width:100%;border:1px solid #000;background-color:#222;color:silver;overflow:hidden;}
.TopicSubject{width:100%;border:1px solid #000;background-color:#000;color:White;overflow:hidden;}
.topictitle	{ margin:8px;font-weight:bold; line-height:1.3em; }
.usertitle	{ font-weight:bold; color:#000; line-height:1.2em; }
.ReplyDiv{width:100%;border:1px solid #000;background-color:#333;color:#aaa;overflow:hidden !important;overflow:hidden;margin-top:2px;margin-bottom:2px;float:left;}
.AltReplyDiv{width:100%;border:1px solid #000;background-color:#444;color:#eee;overflow:hidden !important;overflow:hidden;}
.leftColumn{float:left;
    min-height:160px;
    width:181px;
	padding: 3px;
    height:auto !important;
    height:160px;

	 }
.leftColumn .smallText{
    color:#999999;}
.leftColumn .profilelnk{
    color:#000099;}
.MessageDIV{position:relative;
    padding: 1px;
    min-height:250px;
    height:auto !important;
	 height:185px;
	 border-left:1px solid #000;
	 margin-left:187px;
	 margin-right:0px;
	 margin-bottom:0px;
    }
	 
.mImg{max-width:99%; width:auto !important;width:99%;}
.mContent{min-height:120px;height:auto !important;height:120px;width:99% !important;width:95%;padding:4px;}
.msgIcons{padding: 1px;display:inline; vertical-align:top;width:16px;height:16px;}
.buttonbar{color:white;height:20px;border-bottom:1px solid #000;width:100%;background-color:#111;padding-top:2px}
.buttonbarImg span{height:auto;display:inline;vertical-align:bottom;}
.buttonbarImg{height:auto;display:inline;vertical-align:bottom;float:right;}
.buttonbarTxt{float:left; vertical-align:text-top;}
.buttonbarImg img{width:16px;}
.TopIcon{ padding:1px;float:right;}
.TopIcon img{width:16px;}

.editedDIV{color:#990033;font-size:0.8em;}
.editedDIV span {}
.sigDIV p{height:auto;margin-bottom:0;vertical-align:baseline;font-size:smaller;}
.sigDIV{font-size:x-small;}

 
.modalPopup
{
      background-color:#ffffdd;
      border-width:1px;
      border-style:solid;
      border-color:Gray;
      padding:5px;
      width: 350px;
      height:auto;
}


.avatar
{
    border: 1px solid black;
    width:80px;
    height:80px;
}
.usrlabel
{
    width:160px;
}

 blockquote.quoteMessage {
   font-size:smaller;
   font-style: italic;
   padding: 8px;
   background-color: #f4f4f4;
   border-top: 1px solid #efefef;
   border-bottom: 1px solid silver;
   margin: 5px;
   background-image: url(images/smallquote_lt.png);
   background-position: top left;
   background-repeat: no-repeat;
   text-indent: 23px;
   }
   blockquote.quoteMessage span {
      display: block;
      background-image: url(images/smallquote_rt.png);
      background-repeat: no-repeat;
      background-position: bottom right;
    }
 /*code window*/
.codebox
{
    position: relative;
    display: block;
    margin: 5px 20px 5px 20px;
    padding-top: 0px;
    padding-bottom: 1px;
    border: 1px solid #000;
    line-height: 1em;
    font: 0.8em Monospace;
    color: black;
    overflow: hidden;
    width: 80% !important;
    min-height: 100px;
    min-width: 200px;
    max-height: 250px;
    height: auto !important;
    height: 100px;
    background-color: #ffffff;
}
.codebox a{
	color:#ffffff;
}
.stickytable div{max-width:400px;}
.codehead {
	margin: 0;
	margin-bottom: 0px;
	padding-left: 8px;
	padding-bottom: 0px;
	border-bottom: 1px solid  #808080;
	font-size: 1.1em;
	line-height: 1.2em;
	font-weight: normal;
	color: white;
	background-color: #CCCCCC;
	position:relative;
}
.scrollcode, pre.scrollcode
{
	position:relative;
	display: block;
	margin: 0px;
	color: black;
	overflow: auto;
	min-width:500px;
    width:auto !important;
	width: 700px;
	height: 100%;
	background-color: #ffffff;
	white-space:pre;
}
.scrollcode ol
{
    background: #E4E4E4 url(images/gutter.gif) repeat-y 2.3em 0;
    overflow: auto;
    margin: 0;
    padding: 0.7em 0 0.7em 2.8em;
    color: #fff;
}
.scrollcode ol li {
	background:#fff;
    padding-left:4px;
    width:auto;
} 
.scrollcode ol code {color:#036;}

.regBox{width:640px;position:relative;margin:auto;border:1px solid #000;background-color:White;}
.regBoxHeader{background-color:#000;color:#ffffff;font-weight:bold;height:22px;}

/* Member Search */
.SearchLinks
{
    margin-top: 3px;
    text-align: center;
    padding: 10px;
    font-size: 1.1em;
}
.SearchFilters
{
    background-color: #000;
    border: 1px #efefef solid;
    margin-top: 3px;
    width: 98%;
    padding: 10px;
}
.SearchLinks a:link,
.SearchLinks a:visited
{
    color:#000;
    text-decoration: none;
    background: #F5F5F5;
    padding: 1px 3px 1px 3px;
    margin-right: 2px;
}

#postForm {height:400px;width:auto;margin:auto;padding:3px;height:auto !important;width:95%;border: 1px solid #000;}
#postForm label{
 display:inline-block;
 width:140px;
 float:left;
 }
  #postForm input
{
    border: solid 1px #aacfe4;
    width: 70%;
    margin: 0px 0 2px 10px;
}
 #postForm select{
 border:solid 1px #aacfe4;
 min-width:60px;
 width:60px;
 width:auto !important;
 margin:0px 0 10px 10px;
 background-color: transparent;
 }
  #postForm input[type="image"]
 {
 clear:both;
 margin-left:0px;
 width:88px;
 height:20px;
 }
  #postForm input[type="checkbox"]
 {
 clear:both;
 width:12px;
 height:12px;
 border:0px;
  float:left;
 }
   #postForm span.cbx label {
 display:block;
 width:350px;
 float:left;
 }
.PostForm
{
    background-color:#222;
    margin: 0 auto;
            
}
 #container:after {
content:'';
display:block;
clear:both;
}

#emoticons{width:125px;top:0px;height:auto;margin:auto;}
#Editor{float:left;}

.QRBox{margin:0px; background-color:#222;}
.QRBox #contentwrapper{background-color:#222;}
.QRHeader{background-color:#000;color:#ffffff;font-weight:bold;height:22px;}
.QRLeft{width:150px;background-color:#222;float: left;}
.QRRight{margin-top:16px;vertical-align:top;float: left;width: 80%;}
.QRFooter{clear: left;background-color:#222;
width: 100%;
text-align: center;
padding: 2px 0;}
textarea.QRMsgArea{
	border: 1px solid #000;
	width: 97% !important;
	width: 90%;
}

.profBtn img{padding:1px;}
input.profBtn{padding:1px;padding-top: 0px;}
.NoBorder{border: 0px;}

#ContactFieldset label{
 display:inline-block;
 width:140px;
 float:left;
 }
  #ContactFieldset input, #ContactFieldset textarea{
  border:solid 1px #aacfe4;
 width:70%;
 margin:0px 0 10px 10px;
 }
 
span.moderation{font-weight:bolder; color:Red;}



/*** POLL-SPECIFIC STYLES ***/
.Poll_DisplayText
{
    font-weight: normal;  
}

.Poll_TotalVotes
{
    font-style: italic;
}

.Poll_TakePoll, .Poll_PollResults
{
    border: 1px dashed #BEF2FA;
    padding: 5px;
    margin-top: 5px;
    margin-left: 10px;
}
.PollBox
{
    background-color: white;
	border: 1px solid #000;
}
.seperator{line-height: 0.4em;}
.sideBox {
	background-color: #222;
	border: 1px solid #000;
	table-layout:fixed;
	width:100%;
    border-top-style: none;
}
.forumtable {
	background-color: transparent;
	border: 1px solid #000;
	table-layout:fixed;
	width:100%;
}
table.smallCal { table-layout:auto;}
.smallCal table { table-layout:auto;}
.PMContainer{width:80%;padding:10px;margin:auto;	background-color: #222;
	border: 1px solid #000;}


.ovHidden{overflow:hidden;}
 .shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";*/
	/* For IE 5.5 - 7 */
	/*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');*/
}

/* button style */
a.Snitzbutton {
    /* Sliding right image */
    background: transparent url(images/buttons/button_right.png) no-repeat scroll top right; 
    display: block;
    float: left;
    height: 30px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
    margin-right: 6px;
    padding-right: 20px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
    /* FONT PROPERTIES */
    text-decoration: none;
    color: #000000;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size:12px;
    font-weight:bold;
}
a.Snitzbutton span {
    /* Background left image */ 
    background: transparent url(images/buttons/button_left.png) no-repeat; 
    display: block;
    line-height: 18px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
    padding: 7px 0 5px 18px;
    white-space:nowrap;
} 
a.Snitzbutton:hover span{
    text-decoration:none;
    color:White;
}

.table-bottom{text-align: left;margin: 0px auto;padding: 0px;border:0;}
.table-bottom-left{float:left;width:50%;}
.table-bottom-right{margin:0;float:right;width:50%;text-align:right;}
.table-bottom-footer{clear: both;font-size: smaller;}

.snitzMenu div.AspNet-Menu-Horizontal:after{content: ".";display: block;height: 0px;clear: both;visibility: hidden;}
.snitzMenu div.AspNet-Menu-Horizontal
{

    z-index: 10000;
    margin-left:auto;margin-right:auto;
    text-align:center;
    width:auto;
}
.snitzMenu ul
{
    background:#000;
}
.snitzMenu ul.AspNet-Menu ul
{
    width: 9.5em;
    /*left: 8.9em;*/
    top: -1em;
    z-index: 400;
}
.snitzMenu ul.AspNet-Menu ul ul
{
    width: 10.5em;
    left: 10.4em;
}
.snitzMenu ul.AspNet-Menu li
{
    white-space:nowrap;
    height:auto !important;
    line-height:1em;
}
.snitzMenu ul.AspNet-Menu li a,
.snitzMenu ul.AspNet-Menu li span
{
    color: #fff;
    padding: 4px 4px 4px 6px;
    border-bottom: 0;
}
.snitzMenu ul.AspNet-Menu li.AspNet-Menu-Leaf a,
.snitzMenu ul.AspNet-Menu li.AspNet-Menu-Leaf span
{
    background-image: none;
}
.snitzMenu ul.AspNet-Menu li:hover, 
.snitzMenu ul.AspNet-Menu li.AspNet-Menu-Hover
{
    background:transparent;
}
.snitzMenu ul.AspNet-Menu li a:hover,
.snitzMenu ul.AspNet-Menu li span.Asp-Menu-Hover
{
    color: White;
    background: transparent url(images/menu-expand.gif) right center no-repeat;
}
.snitzMenu ul.AspNet-Menu li.AspNet-Menu-Leaf a:hover
{
    background-image: none;
}

.snitzMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul
{
    width: 10.5em;
    left: 0;
    top: 100%;
}
.snitzMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul ul
{
    top: -0.3em;
}
.snitzMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul ul
{
    width: 11.5em;
}
.snitzMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li
{
    width: auto;
    min-width:6em;
    border-left:1px solid #222;
    border-right:1px solid gray;
    text-align:center;
}
.snitzMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul li
{
    text-align:left;
    width: 10.5em;
}
.snitzMenu .AspNet-Menu-Horizontal ul.AspNet-Menu ul ul li
{
    width: 11.5em;
}
.snitzMenu .AspNet-Menu-Horizontal ul.AspNet-Menu li ul li ul
{
    margin: -1.4em 0 0 10.35em;
}
.snitzMenu .AspNet-Menu-Horizontal li.AspNet-Menu-WithChildren ul
 {
     white-space:nowrap;
     border: solid 1px #999999 !important;
     -moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";*/
	/* For IE 5.5 - 7 */
	/*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');*/
 }

 .snitzMenu ul.AspNet-Menu li.AspNet-Menu-Leaf span.AspNet-Menu-NonLink{display:none;}
 .announceBox{text-align:center;width:80%;margin:auto;border:3px ridge #EFEFEF; background-color:#efefef;}
.hidden{ display: none;visibility: hidden;}

.clearfix:after {content: ".";display: block;height: 0px;clear: both;visibility: hidden;}
#__asptrace{position:relative;}
