.regHeader{ background-color: silver;padding: 4px;vertical-align: middle;}    
.policy{padding:6px;max-height: 300px;overflow: auto;}
    .regBox input{margin-bottom:6px;margin-right:6px;}
    .formLayout
    {
        padding: 10px;
        width: 90%;
        margin:auto;max-height: 400px;overflow: auto;
    }
    .wizardstep{ max-height: 300px;overflow: auto;}
    .formLayout label, .formLayout input, .formLayout textarea
    {
        display: block;
        width: 120px;
        float: left;
        margin-bottom: 10px;
    }
    .formLayout textarea{ width: 50%;}
    .formLayout input[type="text"]{width:30%}
    .formLayout input, .formLayout select{ border:1px solid Silver;}
    .formLayout select {max-width:200px;}
    .formLayout label
    {
        text-align: right;
    }
    .formLayout span
    {
        padding-right: 2px;
    }
    .formLayout img
    {
        margin-left:4px;
        vertical-align:text-bottom;
    }

    .formLayout br
    {
        clear: left;
    }
   .formLayout label.captcha-label{ width: auto;}
    .checkboxLayout
    {
        padding: 10px;
        width: 400px;
        margin:auto;
    }
    
    .checkboxLayout label
    {
        text-align:left;
    }
    
    .checkboxLayout select{ border:1px solid Silver;}
    .checkboxLayout span
    {
        display:block;
        padding: 2px;
        width:50px;
    }


.validationGood, span.validationGood
{
    text-align:left;float:left;color:green;border:1px solid green;width:350px;padding:10px;display:inline;
}
.validationGood, span.validationBad
{
    text-align:left;float:left;color:Red;border:1px solid red;width:350px;padding:10px;display:inline;
}
span.usercheck{text-align:left;float:left;color:Red;border:1px solid red;width:300px;padding:10px;display:none;}

        div.label_mandatory, div.label_not_mandatory{ width: 99%;display: inline-block;}
        label.label_mandatory:before {
    content : "* ";
    color   : red;
}
         .label_mandatory label, span.label_mandatory,label.label_mandatory {
             display: inline-block;
             margin: 1px 8px 1px 0;
             padding-right:4px;
             border-right: solid 3px #0FA1B8;
             white-space: nowrap;
             width: 150px;
             vertical-align: top;
         }
        .label_not_mandatory label, label.label_not_mandatory{
            display: inline-block;
            margin: 1px 16px 1px 0;
            white-space: nowrap;
            width: 150px;
            vertical-align: top;
        }
        .label_not_mandatory span.cbxLabel label{ width: auto;}
        .label_mandatory img {
            margin-left: 2px;
            vertical-align: middle;
        }
.BarIndicatorweak
{
    color:Red;
    background-color:Red;
}
.BarIndicatoraverage
{
    color:orange;
    background-color:orange;
}
.BarIndicatorgood
{
    color:yellow;
    background-color:yellow;
}
.BarIndicatorexcelent
{
    color:Green;
    background-color:Green;
}
.BarBorder
{
    border-style:solid;
    border-width:1px;
    padding:2px 2px 2px 2px;
    width:200px;
    vertical-align:middle;
}