        h2
        {
            color: #FFFFFF;
        }
        h3
        {
            font-weight: bold;
            font-size: 0.9em;
            text-decoration: none;
            line-height: 1em;
            color: #fff;
        }
        #ctl00_CPM_pnlEdit label
        {
            display: inline-block;
            text-align: left;
            width: 120px;
            float: left;
        }
        #wrap
        {
            width: 100%;
            margin: 0 auto;
        }

        div#body
        {
            overflow: hidden;
            height: 100%;
            background-color: #222;
        }
        div#main
        {
            margin: 0px 0px 0px 300px;
            padding-left: 10px;
            padding-right: 10px;
            border-left: 1px solid #777;
            border-collapse: collapse;
            background-color: rgb(47, 47, 47);
        }
        
        #sidebar
        {
            float: left;
            width: 300px !important;
            padding: 0px;
            border-collapse: collapse;
            height: auto;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .floatright{ float: right;}
        #footer
        {
            clear: both;
            padding: 5px 10px;
        }
        #footer p
        {
            margin: 0;
        }
        * html #footer
        {
            height: 1px;
        }
        .faqQuestion{background-color: #222; padding: 4px;}
        .category{padding: 3px;color: silver;}
        a.faqLnk { color: silver;}
        
        div.faqtable{ border: 1px solid #ff6600;border-radius: 5px;}
         .faqtable label{ display: inline-block;width: 120px;}
        h1 {text-shadow: 1px 1px #ff3300;}

