#pProfile{width:100%;height:auto;}

fieldset{position: relative;font-size:90%;float: left;width: 350px !important;}
fieldset ul {
        list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0;
}
 
 /* default layout */
 div.ajax__tab_xp2{margin:auto;}
.ajax__tab_default .ajax__tab_header { white-space: normal !important;height: 21px;}
.ajax__tab_default .ajax__tab_outer {display:-moz-inline-box;display:inline-block}
.ajax__tab_default .ajax__tab_inner {display:-moz-inline-box;display:inline-block}
.ajax__tab_default .ajax__tab_tab {overflow:hidden;text-align:center;display:-moz-inline-box;display:inline-block}

/* xp theme */
.ajax__tab_xp2 .ajax__tab_header {font-size:90%;background:url('/App_Themes/Dark/images/tab/tabline.gif') repeat-x 50% bottom;height: 21px;
}
.ajax__tab_xp2 .ajax__tab_outer {padding-right:4px;padding-top:0px;background:url('/App_Themes/Dark/images/tab/tabr.gif') no-repeat right 50%;
height:21px;
}
.ajax__tab_xp2 .ajax__tab_inner {padding-left:3px;background:url('/App_Themes/Dark/images/tab/tabl.gif') no-repeat;
}
.ajax__tab_xp2 .ajax__tab_tab {margin:0px;background:url('/App_Themes/Dark/images/tab/tab.gif') repeat-x;
}
.ajax__tab_xp2 .ajax__tab_hover .ajax__tab_outer {cursor:pointer;}
.ajax__tab_xp2 .ajax__tab_hover .ajax__tab_inner {cursor:pointer;}
.ajax__tab_xp2 .ajax__tab_hover .ajax__tab_tab {cursor:pointer;}
.ajax__tab_xp2 .ajax__tab_active .ajax__tab_outer {background:url('/App_Themes/Dark/images/tab/tab-activer.gif') no-repeat right 50%;
}
.ajax__tab_xp2 .ajax__tab_active .ajax__tab_inner {background:url('/App_Themes/Dark/images/tab/tab-activel.gif') no-repeat;
}
.ajax__tab_xp2 .ajax__tab_active .ajax__tab_tab {background:url('/App_Themes/Dark/images/tab/tab-active.gif') repeat-x;
}
.ajax__tab_xp2 .ajax__tab_disabled { color: #A0A0A0;}
.ajax__tab_xp2 .ajax__tab_body {border:1px solid #111;border-top:0;padding:8px;background-color:#111;}

/* scrolling */
.ajax__scroll_horiz {overflow:scroll;}
.ajax__scroll_both {overflow:scroll}
.ajax__scroll_auto {overflow:auto}
a.ajax__tab_tab{ line-height: 21px;}
.ajax__tab_panel div.mini{ width: 98%;}
.fullwidth fieldset {width: 100% !important; }
.profileform{
 margin:0 auto;
 width:85%;
 padding-top:8px;
 }

/* ----------- stylized ----------- */
 #profileDIV h1 {
 font-weight:bold;
 margin-bottom:8px;
 }
 #profileDIV p{
 color:#666666;
 border-bottom:solid 1px #b7ddf2;
 }
 #profileDIV label{
 display:inline-block;
 width:130px;
 }

 #profileDIV .small{
 color:#666666;
 display:block;
 font-weight:normal;
 text-align:right;
 width:130px;
 }
 #profileDIV input{
 
 border:solid 1px #aacfe4;
 width:200px;
 margin:0px 0 10px 0px;
 }
#profileDIV input.number {
    width: 40px;
}
 #profileDIV select{
 border:solid 1px #aacfe4;
 min-width:60px;
 width:60px;
 width:auto !important;
 margin:0px 0 10px 0px;
     max-width: 250px;
 }
 #profileDIV input[type="image"]
 {
 clear:both;
 margin-left:0px;
 width:88px;
 height:20px;

 }
  #profileDIV input[type="checkbox"]
 {
 height:13px; width:13px; padding:0; margin-top:6px; margin-bottom:6px;
 border:0px;
 }
  #profileDIV label.sig {
 display:block;
 text-align:left;
 width:260px;
 float:left;
 }

 #profileDIV span.sig label{ width: auto;}
 #profileDIV span.email label{padding-left: 3px;width:auto;}
 #profileDIV span.email input[type="checkbox"]{height:13px; width:13px; padding:0; margin-top:6px; margin-bottom:6px;}

 #profileDIV label.links{width:180px;}
 #profileDIV label.doblabel{width:100px;}
   #profileDIV input.textToLabel 
{
    background-color:transparent;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
    width:130px;
}
        .markItUp .upload a
        {
            display: none;
        }
        .markItUp .browse a
        {
            display: none;
        }
        .thumb
        {
            margin: 3px;
            border: 1px solid silver;
        }