<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="strForumDescription" value="Snitz Forums .Net (Dev)" />
  <add key="strForumTitle" value="Snitz Forums .Net (Dev)" />
  <add key="strCopyright" value="Copyright 2013 Huw Reddick" />
  <add key="strHomeUrl" value="http://snitzdemo.reddiweb.com" />
  <add key="strForumUrl" value="http://snitzdemo.reddiweb.com/" />
  <!-- Forum Layout -->
  <add key="defaultTheme" value="Light" />
  <add key="ShowRightColumn" value="1" />
  <add key="ShowSideAds" value="0" />
  <!-- Not currently used -->
  <add key="strTablePrefix" value="FORUM_" />
  <add key="applicationName" value="FORUM_" />
  <add key="strMemberTablePrefix" value="FORUM_" />
  <add key="strFilterTablePrefix" value="FORUM_" />
  <add key="boolEncrypt" value="0" />
  <add key="boolShowImagePoweredBy" value="0" />
  <add key="boolProhibitNewMembers" value="0" />
  <add key="boolRequireReg" value="0" />
  <add key="boolMailAuth" value="1" />
  <add key="boolUserNameFilter" value="1" />
  <add key="boolRestrictReg" value="1" />
  <add key="boolIPLogging" value="1" />
  <add key="boolFloodCheck" value="1" />
  <add key="intFloodCheckTime" value="30" />
  <add key="boolPrivateForums" value="1" />
  <add key="intSubscription" value="3" />
  <add key="boolShowGroups" value="0" />
  <add key="boolBadWordFilter" value="1" />
  <add key="strBadWords" value="" />
  <add key="boolModeration" value="1" />
  <add key="boolShowModerators" value="0" />
  <add key="boolMoveTopicMode" value="0" />
  <add key="TopicMoveEmail" value="~/App_Data/TopicMove.txt" />
  <add key="boolMoveNotify" value="0" />
  <add key="boolArchiveState" value="1" />
  <add key="boolShowStatistics" value="0" />
  <add key="boolJumpLastPost" value="1" />
  <add key="boolShowPaging" value="1" />
  <add key="boolStickyTopic" value="1" />
  <add key="boolEditedByDate" value="1" />
  <add key="boolShowTopicNav" value="1" />
  <add key="boolShowSendToFriend" value="1" />
  <add key="boolShowPrinterFriendly" value="1" />
  <add key="boolShowSmiliesTable" value="1" />
  <add key="boolHotTopic" value="1" />
  <add key="intHotTopicNum" value="25" />
  <add key="intTopicPageSize" value="20" />
  <add key="intMemberPageSize" value="20" />
  <add key="intSearchPageSize" value="20" />
  <add key="boolAllowHTML" value="0" />
  <add key="boolAllowForumCode" value="1" />
  <add key="boolImgInPosts" value="1" />
  <add key="boolIcons" value="1" />
  <add key="boolSignatures" value="1" />
  <add key="boolShowLastPostLink" value="1" />
  <add key="boolShowQuickReply" value="1" />
  <add key="boolShowTimer" value="1" />
  <add key="boolEmail" value="1" />
  <add key="boolUniqueEmail" value="1" />
  <add key="boolLogonForMail" value="1" />
  <add key="boolEmailValidation" value="1" />
  <add key="intMinAge" value="14" />
  <add key="strDateType" value="dd MMMM yyyy" />
  <add key="strTimeType" value="HH:mm:ss" />
  <add key="intTimeAdjust" value="1" />
  <add key="intShowRank" value="3" />
  <add key="ping" value="0" />
  <add key="YahooId" value="" />
  <add key="intPagerType" value="4" />
  <add key="boolCaptcha" value="1" />
  <add key="boolShowFileUpload" value="1" />
  <add key="boolShowFileAttach" value="0" />
  <add key="strFileUploadLocation" value="~/sharedFiles/" />
  <add key="strAllowedFileTypes" value="jpg,jpeg,gif,zip,png,pdf,txt,doc" />
  <add key="intTotalUploadLimitFileSize" value="1073741824" />
  <add key="intTotalUploadLimitFileNumber" value="25000" />
  <add key="intUploadLimitFileSize" value="2097152" />
  <add key="intActivePoll" value="1" />
  <add key="boolPublicGalleries" value="1" />
  <add key="boolShowGalleries" value="1" />
  <add key="boolUseEmail" value="0" />
  <add key="boolLogonForEmail" value="1" />
  <add key="boolShowRightColumn" value="1" />
  <add key="boolShowGoogleAds" value="0" />
  <add key="strGoogleAdCode" value="ca-pub-0975605352052735" />
  <add key="boolShowHeaderAds" value="0" />
  <add key="boolShowSideAds" value="0" />
  <add key="RunSetup" value="false" />
</appSettings>