<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xdt:Transform="Replace">
  <add key="strForumDescription" value="Snitz Forums .Net" />
  <add key="strForumTitle" value="Snitz Forums .Net" />
  <add key="strCopyright" value="Copyright 2012 Huw Reddick" />
  <add key="strHomeUrl" value="http://snitzdemo.reddiweb.com" />
  <add key="strForumUrl" value="http://snitzdemo.reddiweb.com/" />
  <add key="defaultTheme" value="BlueGray" />
  <add key="ShowRightColumn" value="1" />
  <add key="ShowSideAds" value="0" />  
</appSettings>