#pProfile{width:100%;height:auto;}
#pMain{padding-left: 5px;  z-index: 101; float: right; width: 49%;position: relative; height: auto}
fieldset{font-size:0.85em;}

 
 /* default layout */
.ajax__tab_default .ajax__tab_header {white-space:normal !important}
.ajax__tab_default .ajax__tab_outer {display:-moz-inline-box;display:inline-block}
.ajax__tab_default .ajax__tab_inner {display:-moz-inline-box;display:inline-block}
.ajax__tab_default .ajax__tab_tab {overflow:hidden;text-align:center;display:-moz-inline-box;display:inline-block;}

/* xp theme */
.ajax__tab_xp2 .ajax__tab_header {font-size:11px;background:url('../../App_Themes/BlueGray/images/tab/tabline.gif') repeat-x 50% bottom;
}
.ajax__tab_xp2 .ajax__tab_outer {padding-left:3px;background:url('../../App_Themes/BlueGray/images/tab/tabl.gif') no-repeat left 50%;
height:21px;
}
.ajax__tab_xp2 .ajax__tab_inner
{
    background: url('../../App_Themes/BlueGray/images/tab/tabr.gif') no-repeat right;
}
.ajax__tab_xp2 .ajax__tab_tab {height:13px;padding:4px;margin:0px;margin-right:4px;background:url('../../App_Themes/BlueGray/images/tab/tab.gif') repeat-x;
}
.ajax__tab_xp2 .ajax__tab_hover .ajax__tab_outer {cursor:pointer;background:url(<%=WebResource("Tabs.tab-hover-left.gif")%>) no-repeat left;}
.ajax__tab_xp2 .ajax__tab_hover .ajax__tab_inner {cursor:pointer;background:url(<%=WebResource("Tabs.tab-hover-right.gif")%>) no-repeat;}
.ajax__tab_xp2 .ajax__tab_hover .ajax__tab_tab {cursor:pointer;background:url(<%=WebResource("Tabs.tab-hover.gif")%>) repeat-x;}
.ajax__tab_xp2 .ajax__tab_active .ajax__tab_outer {background:url('../../App_Themes/BlueGray/images/tab/tab-activel.gif') no-repeat left 50%;
}
.ajax__tab_xp2 .ajax__tab_active .ajax__tab_inner {background:url('../../App_Themes/BlueGray/images/tab/tab-activer.gif') no-repeat right;
}
.ajax__tab_xp2 .ajax__tab_active .ajax__tab_tab {background:url('../../App_Themes/BlueGray/images/tab/tab-active.gif') repeat-x;margin-right:4px;
}
.ajax__tab_xp2 .ajax__tab_disabled { color: #A0A0A0;}
.ajax__tab_xp2 .ajax__tab_body {border:1px solid #999999;border-top:0;padding:8px;background-color:#ffffff;}

/* scrolling */
.ajax__scroll_horiz {overflow:scroll;}
.ajax__scroll_both {overflow:scroll}
.ajax__scroll_auto {overflow:auto}

/* plain theme */
.ajax__tab_plain .ajax__tab_outer {text-align: center; vertical-align: middle; border:2px solid #999999;}
.ajax__tab_plain .ajax__tab_inner {text-align: center; vertical-align: middle; }
.ajax__tab_plain .ajax__tab_body {text-align: center; vertical-align: middle;}
.ajax__tab_plain .ajax__tab_header {text-align: center; vertical-align: middle;}
.ajax__tab_plain .ajax__tab_active .ajax__tab_outer {background:#FFFFE1;}

.profileform{
 margin:0 auto;
 width:100%;
 padding:8px;
 }

/* ----------- stylized ----------- */

 #profileDIV * { 
  vertical-align: middle; 
} 


 #profileDIV h1 {
 font-weight:bold;
 margin-bottom:8px;
 }
 #profileDIV p{
 color:#666666;
 margin-bottom:20px;
 border-bottom:solid 1px #b7ddf2;
 padding-bottom:10px;
 }
 #profileDIV label{
 display:inline-block;
 text-align:left;
 width:140px;
 }

 #profileDIV .small{
 color:#666666;
 display:block;
 font-weight:normal;
 text-align:left;
 width:140px;
 }
 #profileDIV input{
 
 border:solid 1px #aacfe4;
 width:150px;
 margin:0px 10px 10px 0;
 }
 #profileDIV select{
 border:solid 1px #aacfe4;
 min-width:60px;
 width:60px;
 width:auto !important;
 margin:0px 10px 10px 0;
 }
 #profileDIV input[type="image"]
 {
 clear:both;
 margin-right:0px;
 width:88px;
 height:20px;

 }
  #profileDIV input[type="checkbox"]
 {
 clear:both;
 width:12px;
 height:12px;
 border:0px;
 }
  #profileDIV label.sig {
 display:block;
 text-align:right;
 width:260px;
 float:right;
 }
 #profileDIV span.sig label{width:250px;}
 #profileDIV span.email label{width:180px;}
 #profileDIV label.links{width:180px;}
 #profileDIV label.doblabel{width:100px;}
 
 #profileDIV input.textToLabel 
{
    background-color:transparent;
    border-top-style:none;
    border-right-style:none;
    border-left-style:none;
    width:200px;
}

        .markItUp .upload a
        {
            display: none;
        }
        .markItUp .browse a
        {
            display: none;
        }
        .thumb
        {
            margin: 3px;
            border: 1px solid silver;
        }