<?xml version="1.0" encoding="utf-8"?>
<root xmlns="urn:ChirpyConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:ChirpyConfig http://www.weirdlover.com/chirpy/chirp.xsd">

  <FileGroup Name="bluegray.less" Minify="true">
    <File Path="base.css" />
    <File Path="bluegrey.css" />
    <File Path="jquery.alerts.css" />
  
  <File Path="mainmodaldialog.css" />
  </FileGroup>
</root>
