#aspnetForm{width:95%;}
#contentwrapper{
float: right;
width: 100%;
}
.statsPanel{padding:3px;}
#contentcolumn{
margin-right: 222px; /*Set left margin to LeftColumnWidth*/
}
h2{ background:#0FA1B8;color:#ffffff;height:20px;margin-top:0px;padding:3px;}
.daydetail{border:1px solid #0FA1B8;border-top:0px;width:35%;float:right;}
#leftcolumn{
float: right;
width: 220px; /*Width of left column*/
margin-right: -100%;
}    
.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 5px;
}
.smallCal td{padding:3px;}